<!DOCTYPE html>
<html>
  <head>
    <style>
      #DBTreeView,
      #CachedTreeView {
        min-width: 200px;
        height: 100%;
        font-family: Arial, sans-serif;
        font-size: 12px;
        border: 1px solid black;
      }

      #DBTreeView ul,
      #CachedTreeView ul {
        /* list-style-type: none; */
        padding-left: 20px;
        margin: 0;
      }

      #DBTreeView li,
      #CachedTreeView li {
        margin: 0;
        padding: 0;
      }

      button {
        margin: 5px;
      }

      #DBTreeView span,
      #CachedTreeView span {
        display: block;
        padding: 5px 10px;
        background-color: #fff;
        color: #000;
        cursor: pointer;
      }

      #DBTreeView span:hover,
      #CachedTreeView span:hover {
        background-color: #eee;
      }

      #Button {
        margin: 5px 10px;
        text-align: center;
      }

      div[style="display:flex;"] {
        align-items: center;
      }
    </style>
  </head>
  <body>
    <div style="display:flex;">
      <div id="CachedTreeView"></div>
      <div>
        <div id="ButtonToCache">
          <button onclick="addToCache()">&lt;&lt;&lt;</button>
        </div>
        <div id="ButtonToStorage">
          <button onclick="addToStorage()">&gt;&gt;&gt;</button>
        </div>
      </div>
      <div id="DBTreeView"></div>
    </div>
    <textarea id="text-area"></textarea>
    <div style="display:flex;">
      <div id="ButtonRename">
        <button onclick="renameItem()">Rename</button>
      </div>
      <div id="ButtonDelete">
        <button onclick="deleteItem()">Delete</button>
      </div>
      <div id="ButtonNew">
        <button onclick="newItem()">New</button>
      </div>
      <div id="ButtonReset">
        <button onclick="reset()">Reset</button>
      </div>
    </div>
    <script>
      const dbTreeView = document.getElementById('DBTreeView');
      const cachedTreeView = document.getElementById('CachedTreeView');
      const textArea = document.getElementById('text-area');
      var selectedDBItemId = null;
      var selectedCacheItemId = null;
      // Добавляем обработчик событий на клик в дереве
      dbTreeView.addEventListener('click', (event) => {
        const target = event.target;
        if (target.tagName === 'SPAN') {
          if (selectedDBItemId !== null) {
            document.getElementById(selectedDBItemId).style.backgroundColor = '#fff';
          }
          target.style.backgroundColor = '#eee';
          selectedDBItemId = target.id;
          event.stopPropagation();
        }
      });
      CachedTreeView.addEventListener('click', (event) => {
        const target = event.target;
        if (target.tagName === 'SPAN') {
          const text = target.textContent.trim();
          textArea.value = text;
          if (selectedCacheItemId !== null) {
            document.getElementById(selectedCacheItemId).style.backgroundColor = '#fff';
          }
          target.style.backgroundColor = '#eee';
          selectedCacheItemId = target.id;
          event.stopPropagation();
        }
      });
      //Получааем элементы DB и отрисовываем в DBTreeView
      function getStorage() {
        fetch("/getStorage", {
          method: "GET",
          headers: {
            'Content-Type': 'application/json'
          }
        }).then(function(response) {
          if (response.ok) {
            response.text().then(function(html) {
              document.getElementById("DBTreeView").innerHTML = html;
            });
          } else {
            alert("Error: " + response.status);
          }
        }).catch(function(error) {
          alert("Error: " + error.message);
        });
      }
      //Получааем элементы кэша и отрисовываем в CachedTreeView
      function getCache() {
        fetch("/getCache", {
          method: "GET",
          headers: {
            'Content-Type': 'application/json'
          }
        }).then(function(response) {
          if (response.ok) {
            response.text().then(function(html) {
              document.getElementById("CachedTreeView").innerHTML = html;
              // console.log(html);
            });
          } else {
            alert("Error: " + response.status);
          }
        }).catch(function(error) {
          alert("Error: " + error.message);
        });
      }
      //переименовываем элемент в кэше
      function renameItem() {
        if (selectedCacheItemId !== null) {
          const target = document.getElementById(selectedCacheItemId);
          const text = textArea.value.trim();
          const parent = parseInt(target.getAttribute('parent'))
          const id = parseInt(target.getAttribute('nodeId'))
          fetch("/renameItem", {
            method: "POST",
            body: JSON.stringify({
              id: id,
              text: text,
              parent: parent
            }),
            headers: {
              'Content-Type': 'application/json'
            }
          }).then(function(response) {
            if (response.ok) {
              response.text().then(function(html) {
                document.getElementById("CachedTreeView").innerHTML = html;
              });
            } else {
              alert("Error: " + response.status);
            }
          }).catch(function(error) {
            alert("Error: " + error.message);
          });
          //unselect item
          document.getElementById(selectedCacheItemId).style.backgroundColor = '#fff';
          selectedCacheItemId = null
          textArea.value = null;
        }
      }

      function deleteItem() {
        if (selectedCacheItemId !== null) {
          const target = document.getElementById(selectedCacheItemId);
          const id = parseInt(target.getAttribute('nodeId'))
          fetch("/deleteItem", {
            method: "POST",
            body: JSON.stringify({
              id: id
            }),
            headers: {
              'Content-Type': 'application/json'
            }
          }).then(function(response) {
            if (response.ok) {
              response.text().then(function(html) {
                document.getElementById("CachedTreeView").innerHTML = html;
              });
            } else {
              alert("Error: " + response.status);
            }
          }).catch(function(error) {
            alert("Error: " + error.message);
          });
          //unselect item
          document.getElementById(selectedCacheItemId).style.backgroundColor = '#fff';
          selectedCacheItemId = null
        }
      }

      function newItem() {
        if (selectedCacheItemId !== null) {
          const target = document.getElementById(selectedCacheItemId);
          const id = parseInt(target.getAttribute('nodeId'))
          fetch("/newItem", {
            method: "POST",
            body: JSON.stringify({
              id: id
            }),
            headers: {
              'Content-Type': 'application/json'
            }
          }).then(function(response) {
            if (response.ok) {
              response.text().then(function(html) {
                document.getElementById("CachedTreeView").innerHTML = html;
              });
            } else {
              alert("Error: " + response.status);
            }
          }).catch(function(error) {
            alert("Error: " + error.message);
          });
          //unselect item
          document.getElementById(selectedCacheItemId).style.backgroundColor = '#fff';
          selectedCacheItemId = null
        }
      }
      function reset() {
        fetch("/reset", {
          method: "POST",
          body: JSON.stringify({
          }),
          headers: {
            'Content-Type': 'application/json'
          }
        }).then(function(response) {
          if (!response.ok) {
            alert("Error: " + response.status);
          }
        }).catch(function(error) {
          alert("Error: " + error.message);
        });
        selectedCacheItemId = null
        selectedDBItemId = null
        init()
      }
      //добавить элемент DB в Cache
      function addToCache() {
        const target = document.getElementById(selectedDBItemId);
        const text = target.textContent.trim();
        const parent = parseInt(target.getAttribute('parent'))
        const id = parseInt(target.getAttribute('nodeId'))
        if (selectedDBItemId !== null) {
          fetch("/addToCache", {
            method: "POST",
            body: JSON.stringify({
              id: id,
              text: text,
              parent: parent
            }),
            headers: {
              'Content-Type': 'application/json'
            }
          }).then(function(response) {
            if (response.ok) {
              response.text().then(function(html) {
                document.getElementById("CachedTreeView").innerHTML = html;
              });
            } else {
              alert("Error: " + response.status);
            }
          }).catch(function(error) {
            alert("Error: " + error.message);
          });
          document.getElementById(selectedDBItemId).style.backgroundColor = '#fff';
        }
      }
      //Применить все изменения к DB
      function addToStorage() {
        fetch("/addToStorage", {
          method: "POST",
          body: JSON.stringify({}),
          headers: {
            'Content-Type': 'application/json'
          }
        }).then(function(response) {
          if (response.ok) {
            response.text().then(function(html) {
              document.getElementById("DBTreeView").innerHTML = html;
              // console.log(html);
            });
          } else {
            alert("Error: " + response.status);
          }
        }).catch(function(error) {
          // Обработка ошибок
          alert("Error: " + error.message);
        });
        getCache();
      }
      //init
      window.addEventListener("load", init);

      function init() {
        getStorage();
        getCache();
      }
    </script>